@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
:root {
	--highlight: #e8fa20;
	--primary-blue: #4f3ff0;
	--primary-gray: ;
}

@layer components {
	.btn-primary {
		@apply py-2 px-4 gap-2 bg-primaryBlue flex align-middle text-white font-semibold hover:bg-lightBlue h-full focus:outline-none focus:ring-2 focus:ring-lightBlue focus:ring-opacity-75 rounded-xl;
	}
	.btn-gray {
		@apply py-2 px-4 gap-2 bg-bgLightGray flex align-middle text-primaryGrayText font-semibold hover:bg-gray-200 h-full focus:outline-none focus:ring-2 focus:ring-bgLightGray focus:ring-opacity-75 rounded-xl;
	}
	.checkbox-primary {
		@apply transition duration-200 cursor-pointer w-4 h-4 text-primaryBlue bg-gray-100 border-gray-300 rounded focus:ring-primaryBlue dark:focus:ring-primaryBlue dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-1 dark:bg-gray-700 dark:border-gray-600;
	}
}
input[type='checkbox'] {
	accent-color:var(--primary-blue);
}
.custom-scrollbar::-webkit-scrollbar {
	height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background-color: rgb(0 0 0 / 0.05);
	width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: var(--primary-blue);
}
.highlighted {
	position: relative;
}
.highlighted::before {
	background-color: var(--highlight);
	content: '';
	position: absolute;
	width: calc(100% + 4px);
	height: 35%;
	left: -2px;
	transform: translateY(50%);
	opacity:0.6;
	transform: rotate(-0.9deg);
}

