@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@layer components {
	.btn-primary {
		@apply py-2 px-4 gap-2 bg-primaryBlue flex align-middle text-white font-semibold hover:bg-lightBlue h-full focus:outline-none focus:ring-2 focus:ring-lightBlue focus:ring-opacity-75 rounded-xl;
	}
	.btn-gray {
		@apply py-2 px-4 gap-2 bg-bgLightGray flex align-middle text-primaryGrayText font-semibold hover:bg-gray-200 h-full focus:outline-none focus:ring-2 focus:ring-bgLightGray focus:ring-opacity-75 rounded-xl;
	}
	.checkbox-primary {
		@apply transition duration-200 cursor-pointer w-4 h-4 text-primaryBlue bg-gray-100 border-gray-300 rounded focus:ring-primaryBlue dark:focus:ring-primaryBlue dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-1 dark:bg-gray-700 dark:border-gray-600;
	}
}
input[type='checkbox'] {
	accent-color: #4f3ff0;
}
.custom-scrollbar::-webkit-scrollbar {
	height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background-color: rgb(0 0 0 / 0.05);
	width: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #4f3ff0;
}
.highlighted {
	position: relative;
	z-index: 2;
}
.highlighted::before {
	background-color: #f7db3d;
	content: '';
	position: absolute;
	width: calc(100% + 4px);
	height: 30%;
	left: -2px;
	transform: translateY(50%);
	z-index: -1;
	transform: rotate(-1.5deg);
}
.dark .highlighted::before {
	background-color: #a08906;
}
